<div class="team"> 
	<h2 class="atleta_h2 mh1">MH1</h2>
	<h3 class="atleta_h3 mh1">Alessando "The boss" Villa</h3>
	<div style="text-align: center;">
		<%= image_tag "ale/1.ale.jpg", :class => "ale_img", :alt => "foto di ale" %>
		<%= image_tag "ale/2.ale.jpg", :class => "ale_img", :alt => "foto di ale" %>
		<%= image_tag "ale/3.ale.jpg", :class => "ale_img", :alt => "foto di ale" %>
		<%= image_tag "ale/4.ale.jpg", :class => "ale_img", :alt => "foto di ale" %>
		<%= image_tag "ale/5.ale.jpg", :class => "ale_img", :alt => "foto di ale" %>
		<%= image_tag "ale/6.ale.jpg", :class => "ale_img", :alt => "foto di ale" %>
		<%= image_tag "ale/7.ale.jpg", :class => "ale_img", :alt => "foto di ale" %>
	</div>
</div>