<!DOCTYPE html>
<html>
  <head>
    <title><%= @title  %></title>
    <%= render :partial => "/layouts/meta" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all'%>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
    <%= javascript_include_tag 'application' %>

    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>
    <script>
    window.addEventListener("load", function(){
      window.cookieconsent.initialise(
        {
          "palette": {
            "popup": {
              "background": "#252e39"
            },
            "button": {
              "background": "#14a7d0"
            }
          },
          "content": {
          "message": "Questo sito utilizza i cookies per offrirti una migliore esperienza",
          "dismiss": "OK!",
          "link": "Scopri di più!",
          "href": "http://www.piccolidiavolit.it/policy"
          }
        }
      )
    });
    </script>
  </head>
  <body>
  <h1 style="display: none">Piccoli Diavoli</h1>
  <nav class="mobile_menu">
    <div class="nav-wrapper ">
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <a href="/" class="brand-logo my_logo"><%= image_tag "logo.png",:style => "width: 64px;"%></a>
    </div>
  </nav>
  <ul id="slide-out" class="sidenav my_sidenav">
    <li>
       <span style="float:right;">
          <i class="material-icons">close</i>
        </span>
      <div class="user-view" onclick="$('.sidenav').sidenav('close');" style="min-height: 120px;">
        <div class="background">
          <%= image_tag "piccolidiavoli_bkg.png", :style => "width: 100%" %>
        </div>
      </div>
    </li>
    <li>
      <a class="my_link" href="/">
        <i class="material-icons my_icons">home</i>
        Home
      </a>
    </li>
    <li>
      <a class="my_link" href="/tempio">
        <i class="material-icons my_icons">time_to_leave</i>
        <div style="line-height: 24px;">Il tempio della Velocità, Circuito di Monza</div>
      </a>
    </li>
    <li>
      <a class="my_link" target="_blank" rel="nofollow" href="https://www.lucanava.com/reportage/reportage-2019/08-06-2019-handbike-9-int-handcycling-gp-monza-by-pd3r/">
        <i class="material-icons my_icons">image</i>
        <div style="line-height: 24px;">Foto ufficiali di Luca Nava</div>
      </a>
    </li>
    <li><div class="divider"></div></li>
    <li><div class="subheader" style="margin-left: 1em;">Calendario 2019</div></li>
    <li>
      <a class="my_link" target="_blank" rel="nofollow" href="https://paraciclismo.federciclismo.it/it/race/?year=<%=Time.new.year%>&month=<%=Time.new.month%>">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Flag_of_Italy.svg/280px-Flag_of_Italy.svg.png" class="bandiere">
        Italia
      </a>
    </li>
    <li>
      <a class="my_link" target="_blank" rel="nofollow" href="http://www.ehf-ehc.eu/EHC/Race/index.php">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Flag_of_Europe.svg/2000px-Flag_of_Europe.svg.png" class="bandiere">
        EHC
      </a>
    </li>
    <li><div class="divider"></div></li>
    <li>
      <div class="subheader" style="margin-left: 1em;">
        Distinguere un PD3R!
      </div>
    </li>
      <%= render :partial => "/layouts/menu_atleti" %>
    <li>
      <span>&nbsp;</span>
    </li>
  </ul>
        
        
  <div class="container" style="margin-top: 1em;">
    <div style="text-align: center;">
      <a class="banner_grid" href="https://www.letsdonation.com/index.php?option=com_jsocialcommerce&view=noprofit&id=39290&usertype=noprofit&Itemid=661" rel="nofollow" target="_blank">
        <span class="aisa">
          <%= image_tag "logo_aisa.png", :style => "width: 64px;" %>
        </span>
        <span class="frase">
          Sostieni anche tu AISA per la lotta alle sindromi attassiche
        </span>
      </a>
    </div>
    <%= yield %>
  </div>
   
   <script type="text/javascript">
    $( document ).ready(function(){
      $('.sidenav').sidenav();
      $(".dropdown-trigger").dropdown();
      $('.carousel.carousel-slider').carousel({
        fullWidth: true
      });
    });
   </script>
   <footer>
      <span>Piccoli Diavoli 3 Route</span>
      <span> - Ass. Sportiva Dilettantistica Onlus</span>
      <span> - Via Claudio Cesana, 2</span>
      <span> - Carate Brianza (MB)</span>
      <span> - C.F 05207040964</span>
      <div> Numero di visualizzazioni: <%= @visualizzazioni %> </div>
      <div class=""><p>© <a href="http://www.nicolamusolino.it">Nicola Musolino</a></p></div>
   </footer>
  </body>
</html>
